{% extends 'base.html.twig' %}

{% block title %}Mon Panier - La Boutique Française{% endblock %}

{% block content %}
  <h1>Mon panier</h1>
  Retrouver l'ensemble des produits que vous avez ajouté à votre panier.

  {% if cart|length > 0 %}
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">Produits</th>
          <th scope="col"></th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
      {% set total = null %}
      {% for product in cart %}
        <tr>
          <td>
            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="50px">
          </td>
          <td>
            {{ product.product.name }} <br>
            <small>{{ product.product.subtitle }}</small>
          </td>
          <td>
            <a href="{{ path('decrease_to_cart', {'id' : product.product.id }) }}">
              <img src="{{ asset('assets/img/minus.png') }}" height="15px" alt="Retirer du panier">
            </a>
            x {{ product.quantity }}
            <a href="{{ path('add_to_cart', {'id' : product.product.id }) }}">
              <img src="{{ asset('assets/img/plus.png') }}" height="15px" alt="Ajouter au panier">
            </a>
          </td>
          <td>{{ (product.product.price / 100) |number_format(2, ',', '.') }} €</td>
          <td>{{ (product.product.price * product.quantity / 100) |number_format(2, ',', '.') }} €</td>
          <td>
            <a href="{{ path('delete_to_cart', {'id' : product.product.id }) }}">
              <img src="{{ asset('assets/img/delete.png') }}" height="20px" alt="Suprimer mon panier">
            </a>
          </td>
        </tr>
        {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}
      </tbody>
    </table>
    <div class="text-right mt-5">
      <b>Nombre de produit :</b> {{ cart|length }} <br>
      <b>Total de mon panier :</b> {{ (total / 100) |number_format(2, ',', '.') }} €
      <a href="{{ path('order') }}" class="btn btn-success btn-block">Valider mon panier</a>
    </div>
  {% else %}
  <hr>
  Votre panier est vide.
  {% endif %}
{% endblock %}
